.counter-page {
  width: 100%;
  display: flex;
  justify-content: center;
}

.counter {
  margin: 111px 0 0 0;
}

.counter-hands {
  width: 360px;
  height: 180px;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0px;
  overflow: hidden;
}

@media screen and (min-width: 792px) {
  .counter-hands {
    width: 630px;
  }
}
